/* Welcome to Compass.
 * In this file you should write your main styles. (or centralize your imports)
 * Import this file using the following HTML or equivalent:
 * <link href="/stylesheets/screen.css" media="screen, projection" rel="stylesheet" type="text/css" /> */

@import "compass/reset";

html {
    font-size: 18px;
    font-family: "Arial Black", "Arial";
    color: black;
    line-height: 1.6em;
}




.container {
    text-align: center;
    width: 100%;
    margin-top: 3%;
}
.logo {
    width: 100%;
    padding: 6px;
    box-sizing: border-box;
}
.logo img {
    display: inline-block;
    max-width: 400px;
    width: 100%;
}
.contact {
    font-size: 1.6em;
    line-height: 1.3em;
    margin-top: 3%;
}

.text-with-anchors {
    a {
        font-size: 0.7em;
        position: relative;
        text-decoration: none;
        color: black;
        border: 0.15em solid black;
        font-weight: 800;
        font-style: italic;
        text-transform: uppercase;
        letter-spacing: 0.05em;
        &:after, &:before {
            display: inline-block;
            position: relative;
            background-color: black;
            height: 0.15em;
            width: 0.5em;
            content: '';
            top: -0.3em;
        }
        &:after{
            margin-left: 0.3em;
        }

        &:before{
            margin-right: 0.1em;
        }

        &:hover, &:active {
            background-color: black;
            color: white;
        }
    }
}