<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width maximum-scale=1.0 minimum-scale=1.0">
    <meta property="og:title" content="Fear of Heights Records"/>
    <meta property="og:description" content="Record Label"/>
    <meta property="og:type" content="website"/>
    <meta property="og:url" content="http://fearofheightsrecords.com"/>
    <meta property="og:image" content="http://fuddjupp.github.io/assets/images/logo_01.jpg"/>
    <meta property="og:site_name" content="Fear of Heights Records" />
    <title>Fear of Heights Records</title>
    <link href="/stylesheets/screen.css" media="screen, projection" rel="stylesheet" />
    <link rel="shortcut icon" type="image/png" href="/foh_ico.png">

</head>
<body>
    <div style="display:none">
        <img src="/assets/images/logo_01.jpg" alt="Fear of Heights Logo">
        <h1>Fear of Heights</h1>
        <p>Record Label</p>
    </div>
    <div class="container">
        <div class="logo"><a href="http://fearofheightsrecords.com"><img src="/assets/images/logo_02.jpg" alt="Fear of Heights Records"></a></div>
        <div class="contact text-with-anchors">
            <a href="mailto:info@fearofheightsrecords.com">mail</a>
            <a href="http://fearofheightsrecords.tictail.com/">shop</a>
            <a href="https://www.facebook.com/fearofheightsrecords">facebook</a>
        </div>
        <div id="content" class="text-with-anchors">
          {{ content }}
        </div>
    </div>
</body>
</html>
